.search{
  padding: 20px;
  background-color: #eee;
}
.search input {
  padding-left: 3px;
  margin: 10px 5px 0px 0;
  height: 20px;
  width: 200px;
}
.search button {
  width: 80px;
  height: 24px;
}
